* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}
