* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}
.text-center {
  text-align: center;
}
.text-color-white {
  color: var(--white-color);
}
.padding-1 {
  padding: 1rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
