:root {
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  --black-color: #000000;
  --white-color: #ffffff;
  --error-color: #ff0000;
  --btn-primary: #f4a261;
  --btn-orange: #e76f51;
  --btn-secondary: #ffe5d9;
  --bg-hover: #fff8f8;
  --border-color: #ccc;

  --font-size: 1rem;
  --text-color: #333333;
  --font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xl: 2rem;
}
